.class-header{
    text-align: center;
    background: blue;
    color: white;
    height: 60px;
    padding: 15px;
}

.body-img{
    float: left;
    color: blue;
}
h1{
    clear: both;
    margin: 40px ;
    font-weight: bold;
}
.text-body span{
    font-weight: bold;
}
.text-body{
    margin-bottom: 30px;
}
.explore-all{
    background: black;
    color: white;
    margin: 40px;
    border-radius: 12px;
}
h3{
    margin: 40px;
}
.carousel-inner{
    border: 1px solid black;
    margin-bottom: 20px;
}
.card {
    box-shadow: 0px 0px 10px 10px #999999;
    margin: 10px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}